{% extends 'users/base.html' %}


{% block content %}
	<div class="container mt-4">
		<form method="post" enctype="multipart/form-data">{% csrf_token %}
		  <div class="form-group">
		    <label for="exampleInputEmail1">Company name</label>
		    {{form.name}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Company description</label>
		    {{form.description}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Company stream name</label>
		    {{form.business_stream_name}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Establishment date</label>
		    {{form.establishment_date}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Website URL</label>
		    {{form.website_url}}
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}