{% extends 'users/base.html' %}
{% load static %}
{% block title %}Change Password Page{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %} 
	<div class="container mt-4">
		<div class="row">
	  		<div class="col-md-4">
				<div class="card">
				  <img src="{{ request.user.profile_image.url }}" alt="John" style="width:338px; height: 350px;">
				  <h2 class="text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
				  <p class="title text-center">CEO & Founder, Example</p>
				  <!-- <p class="text-center">Harvard University</p> -->
				  <p class="text-center"><button>Contact</button></p>
				</div>
			</div>
			<div class="col-md-8">
				<h5 class="card-title text-center">Change Password</h5>
				<form method="post">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
			    </form>
			</div>
		</div>
	</div>
{% endblock content %}